<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav>

        <div class="logo">
            <h1>BuildCore</h1>
            <p>Designers & Developers</p>
        </div>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>

    </nav>

    <section class="page">

        <h2>About Our Company</h2>
        <br>

        <p>
             Buildie Designers & Developers in Anchal, Kollam, offer comprehensive architectural design, construction, and interior design services, focusing on modern, functional, and minimalist aesthetics for residential and commercial projects. They specialize in high-end finishes, including 3D elevation and custom interiors, providing end-to-end solutions for homes and luxury
        </p>
        <p>Key Aspects of Buildie Designers & Developers:Design & Development Services: They focus on creating personalized spaces, including residential and commercial designs, from concept to completion.Design Aesthetic: Their portfolio features modern, minimalist designs, often highlighting elements like marble finishes, custom lighting, and vertical gardens.Project Examples: They have showcased luxury dining areas and kitchen designs for residential clients in the Agasthyacodu area of Anchal.Contact/Inquiries: They can be contacted via email at Shabasshajahan@gmail.com.
        <p>
            We specialize in residential construction, commercial
            buildings, structural planning, project management and
            architectural development.
        </p>

        <p>
            Our mission is to build durable and modern spaces while
            maintaining professionalism, safety and customer satisfaction.
        </p>

    </section>

</body>
</html>