<!DOCTYPE html>
<html>
<head>

    <title>Admin Dashboard</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<div class="dashboard">

    <h1>Upload Project</h1>

    <form method="POST" enctype="multipart/form-data">

        <input type="text"
        name="title"
        placeholder="Project Title">

        <textarea
        name="description"
        placeholder="Description"></textarea>

        <select name="category">

            <option value="construction">
                Construction
            </option>

            <option value="interior">
                Interior
            </option>

            <option value="renovation">
                Renovation
            </option>

            <option value="landscaping">
                Landscaping
            </option>

            <option value="architectural-planning">
                Architectural Planning
            </option>

        </select>

        <input type="file" name="image">

        <button type="submit">
            Upload Project
        </button>

    </form>
<h2 class="manage-title">
    Manage Projects
</h2>

<div class="project-grid">

    {% for project in projects %}

    <div class="project-card">

        <img src="{{ url_for('static',
        filename='uploads/' + project.image) }}">

        <div class="project-content">

            <h3>{{ project.title }}</h3>

            <p>{{ project.description }}</p>

            <a
            class="edit-btn"
            href="/update-project/{{ project.id }}">
                Edit
            </a>

            <a
            class="delete-btn"
            href="/delete-project/{{ project.id }}">
                Delete
            </a>

        </div>

    </div>

    {% endfor %}

</div>

</div>

</body>
</html>