<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>

    <div class="logo">
        <h1>BuildCore</h1>
        <p>Designers & Developers</p>
    </div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

</nav>

<section class="page">

    <h2>Our Projects</h2>

    <p>Luxury Villas</p>
    <p>Commercial Buildings</p>
    <p>Interior Projects</p>
    <p>Infrastructure Developments</p>

</section>

</body>
</html>