<!DOCTYPE html>
<html>
<head>
    <title>Services</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>

    <div class="logo">
        <h1>BuildCore</h1>
        <p>Designers & Developers</p>
    </div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

</nav>

<section class="page">

    <h2>Our Services</h2>

    <div class="service-card">
        <h3>Construction Planning</h3>
        <p>Professional project planning and management.</p>
    </div>

    <div class="service-card">
        <h3>Structural Design</h3>
        <p>Modern and safe structural engineering solutions.</p>
    </div>

    <div class="service-card">
        <h3>Interior & Landscaping</h3>
        <p>Beautiful interior and outdoor development solutions.</p>
    </div>

</section>

</body>
</html>